NAME=Yoe
ID=yoe
ID_LIKE={{.base_distro}}
VERSION="{{.project_version}}"
VERSION_ID={{.project_version}}
PRETTY_NAME="Yoe Linux {{.project_version}} ({{.machine}})"
YOE_BASE_ID={{.base_distro}}
YOE_BASE_VERSION_ID={{.base_version}}
HOME_URL=https://github.com/yoebuild/yoe
